footer {
  margin-top: 50px;
}

.hl {text-align: left;}
.hc {text-align: center;}
.hr {text-align: right;}

/* Table Styling */
.tg {
  width: 100%;
	border-collapse: collapse;
	border-color: #cccccc;
	border-spacing: 0;
}

.tg td {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding: 10px 5px;
	text-align: left;
	word-break: normal;
}

.tg tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* About page - person box */
.person {
  width: 100%;
  float: left;
  clear: left;
  margin-bottom: 30px;
}

.person img {
  width: 200px;
  float: left;
  padding: 5pt 20pt;
}

.person p {
  text-align: justify;
}

